.navigationLink a {
  color: #0d6efd;
  text-decoration: none;
}

.navigationLink {
  padding-left: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #1976d2;
  font-weight: 600;
  margin-right: 20px;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}
