<div class="profileContainer">
  <div>
    <div><h1>Profile Info</h1></div>
    <div class="profileContent">
      <div class="profile">
        <p>
          <span class="profileInfoTitle">Name:</span><br />{{ profile.name }}
        </p>
        <p>
          <span class="profileInfoTitle">Birthday:</span><br />{{
            profile.birthday | date: "MM/dd/yyyy"
          }}
        </p>
        <p>
          <span class="profileInfoTitle">Gender:</span><br />{{
            profile.gender
          }}
        </p>
        <p>
          <span class="profileInfoTitle">Email:</span><br />{{ profile.email }}
        </p>
        <p>
          <span class="profileInfoTitle">Username:</span><br />{{
            profile.username
          }}
        </p>
      </div>
    </div>
  </div>

  <hr />
  <div><h1>Purchase History</h1></div>

  <div class="profileContent">
    <div class="noOrders" *ngIf="noOrderFound">
      <div class="noOrdersContent">
        <p>No order history found!</p>
      </div>
    </div>

    <div class="profile" *ngFor="let info of orderHistory">
      <div class="card" style="width: 22rem;">
        <img
          src="{{ info.itemImage }}"
          alt="info.itemDescription"
          width="250"
          height="250"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title"><b>Item:</b> {{ info.itemName }}</h5>
          <p class="card-text">
            <b>Description:</b> {{ info.itemDescription }}
          </p>
          <p class="card-text"><b>Price:</b> $ {{ info.itemPrice }}</p>
          <p class="card-text">
            <b>Purchased On:</b> {{ info.purchasedDate | date: "MM/dd/yyyy" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
