<div class="container">
  <div class="title"><h1>Welcome to ABC Group Marketplace!</h1></div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, architecto?
      Recusandae sapiente soluta facilis, praesentium assumenda veniam sit
      dolore, eaque, quae amet debitis quibusdam sequi quam fugit a consequatur
      veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
      commodi dolorum, ad eius architecto eum explicabo provident repellendus
      magnam nostrum alias esse, reprehenderit quae, temporibus eos laudantium
      neque consequatur tenetur!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
      perspiciatis quasi esse dignissimos voluptates sunt cumque possimus qui
      voluptas sint at recusandae laboriosam omnis necessitatibus veritatis,
      nulla quo accusantium impedit! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Optio dignissimos voluptatibus aut placeat reiciendis
      itaque velit dolore! Voluptatem, accusamus, eaque optio libero fugiat qui
      quasi illo nostrum culpa incidunt cumque?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nihil
      pariatur molestiae commodi et modi dolore itaque sapiente doloremque
      reprehenderit suscipit temporibus neque ullam tempore, nobis
      exercitationem quibusdam explicabo optio. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Voluptas, illo mollitia itaque aut omnis
      distinctio blanditiis recusandae voluptatibus, dolore porro repellat
      consectetur, a expedita sed repudiandae eum veritatis. Architecto, in!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quas
      nulla unde placeat quidem sequi enim! Fugiat ipsa incidunt, ullam in vero
      repudiandae aliquam nihil quo culpa accusamus, labore velit.
    </p>
  </div>
</div>
